body {
    margin: 0 auto;
    width: 100%;
    /* height: 100vh; */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* overflow: auto; */
    overflow-x: hidden;


}

/* section {
    display: flex;
} */


h1 {
    font-size: 3.5rem;

}

.sm {
    color: #ff9800;
    font-weight: 500;
}

.welcome {
    display: flex;
    margin-bottom: 10em;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.big-dream {
    display: flex;
    margin-bottom: 10em;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-width-1 {
    width: 50%;
    padding-left: 5%;
}

.half-width-2 {
    width: 50%;
    padding-right: 5%;
}

.half-width-2 img {
    width: 100%;
}

.exp {
    display: flex;
    margin-bottom: 10em;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    /* background-position: calc(0%-100%); */
}

.btn {

    font-size: 1.2em;
    font-weight: 800;
    /* background-color: #ffac33; */
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
    box-shadow: 0 0 10px 5 hsla(223, 59%, 31%, 0.5);

    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
}

.hire-me {
    margin-top: 3em;
}

.ftr {
    padding: 4rem 0;
    background-color: aliceblue;
}

footer p {
    text-align: center;

}